# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build and Deploy

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [17.x]

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      
    - name: Using Node v${{ matrix.node-version }}
      uses: actions/setup-node@latest
      with:
        node-version: ${{ matrix.node-version }}
        
    - name: Install dependences
      run: npm i
    
    - name: Build and test
      run: npm run build --if-present
      
    - name: Auto build into LinkStar branch
      uses: JamesIves/github-pages-deploy-action@latest
      with:
        branch: linkstar # The branch the action should deploy to.
        folder: dist # The folder the action should deploy.
